 .edit-card {
     background: rgba(0, 0, 0, .6);
     bottom: 0;
     color: #fff;
     left: 0;
     position: fixed;
     right: 0;
     top: 0;
     z-index: 10;
     display: flex;
     justify-content: center;
     align-items: center;

     &__wrapper {

     }
 }

 .list-card {
     width: 250px;
     background-color: #fff;
     border-radius: 3px;
     box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
     max-width: 300px;
     min-height: 20px;
     margin-bottom: 15px;

     &__details {
         overflow: hidden;
         padding: 6px 8px 2px;
         position: relative;
         z-index: 10;
     }

     textarea {
         padding: 2px;
         width: 220px;
         overflow: hidden;
         overflow-wrap: break-word;
         resize: none;
         height: 90px;
         border-radius: 3px;
         border: none;
     }
 }